@import "tailwindcss/base";
@import "tailwindcss/utilities";

html {
  background-color: #f9fafb;
  overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

body {
  min-width: 480px;
  height: 420px;
  overflow: auto;
}
