@import "tailwindcss/base";
@import "tailwindcss/utilities";

html {
  min-width: 350px;
  background-color: #f9fafb;
  overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

body {
  height: 320px;
  overflow: auto;
  scrollbar-width: thin;
}
