@import "tailwindcss/base";
@import "tailwindcss/utilities";

html {
  background-color: #f9fafb;
  overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

body {
  min-width: 370px;
  height: 320px;
  overflow: auto;
}
